body {
    margin          : 0;
    padding         : 0;
    background-color: #fff;
    font-family     : "Roboto", sans-serif;
    font-weight     : 400;
    line-height     : 1.6;
}

/* header */
.container {
    max-width: 1199px;
    margin   : auto;
}

.header {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
}

.header_content {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    height         : 135.5px;
}

.header_content span {
    display     : inline-block;
    margin-right: 3px;
}

.header_content i {
    font-size     : 9px;
    margin-top    : -3px;
    vertical-align: middle;
}

.header_content li {
    padding: 55px 15px;

}

.header_content li a {
    color         : #070120;
    text-transform: capitalize;
    font-size     : 15px;
    font-weight   : 550;
    transition    : all 0.5s;
}

a {
    text-decoration: none;
}

nav {
    display    : flex;
    align-items: center;
}

nav ul {
    display     : flex;
    margin-right: 30px;
    list-style  : none;
}

li {
    display     : list-item;
    text-align  : -webkit-match-parent;
    unicode-bidi: isolate;
}

.btn-gradient {
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    outline         : none;
    padding         : 20px 35px;
    font-size       : 15px;
    font-weight     : 500;
    background-size : 200%;
    border-radius   : 30px;
    color           : #fff;
    transform       : all 0.5s;
    cursor          : pointer;
    border          : 1px solid transparent;
    outline         : none;
    text-transform  : uppercase;
    line-height     : 1.2;

}

.header_content li:hover span {
    animation: upToDown 0.3s forwards;
}

.header_content li:hover a {
    color: #f55f8d;
}

/* saCarousel */
.saCarousel {
    padding-top        : 180px;
    overflow           : hidden;
    background-image   : url(../images/pic2.png);
    background-position: top;
    background-size    : 100%;
}

.saCarousel-conten {
    display    : flex;
    align-items: center;

}

.text-we {
    font-size  : 22px;
    color      : #f55f8d;
    margin     : 0px 0px 20px;
    font-weight: 600;
}

.saCarousel-conten h2 {
    font-size  : 70px;
    margin     : 0px 0px 20px;
    line-height: 1.1;
    font-weight: 800;
}

.text-dev {
    font-size: 18px;
    color    : #636363;
    margin   : 0px 0px 20px;
}

.saCarousel-conten ul {
    margin-bottom: 20px;
    padding      : 0px 0px 0px 0px;
}

.saCarousel-conten ul li {
    list-style: none;
}

.saCarousel-conten li {
    padding  : 10px 5px 10px 0px;
    font-size: 20px;
}

.saCarousel-conten i {
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    color           : white;
    font-size       : 24px;
    margin          : 0px 10px 0px 0px;
    border          : 1px solid transparent;
    border-radius   : 35px;
    font-weight     : 900;
    text-align      : center;
    width           : 35px;
    height          : 35px;
    line-height     : 35px;
    margin-right    : 10px;
}

.saCarousel_right {
    width: 40%;
}

.saCarousel_left {
    width: 60%;
}

.saCarousel_banner {
    width      : 570px;
    margin-left: 50px;
}

.saCarousel_banner img {
    max-width: 100%;
    display  : block;
}

/* Services */
.Services {
    /* padding-top        : 115px; */
    overflow           : hidden;
    background-image   : url(../images/pic2.png);
    background-position: top;
    background-size    : 100%;
}

.title {
    text-align: center;
}

.title p {
    color      : #f55f8d;
    font-size  : 22px;
    margin     : 0px 0px 20px;
    font-weight: 600;
}

.title h2 {
    font-size  : 70px;
    margin     : 0px 0px 20px;
    font-weight: 600;
}

.Services-conten {
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    gap                  : 30px;
    margin               : 40px;
}


.Services h3 {
    text-align: center;
}

.Services p {
    text-align: center;
}

.services_item {
    border-radius: 0.5rem;
    background   : #fff;
    box-shadow   : 0 0 60px 0 rgba(0, 0, 0, 0.1);
    padding      : 30px 45px;
    transform    : translateY(0);
    transition   : all 0.5s;
    border-image : 100 round;
    border       : 3px solid transparent;
}

.services_item img {
    width: 215px;
}

.services_item:hover {
    transform   : translateY(-20px);
    border-image: url(../images/br.png) 1 round;
}

/* About-Us */
.About-Us-top {
    padding-top: 115px;
}

.About-Us {
    background-image   : url(../images/bg15.png);
    background-size    : 100%;
    background-position: center right;
    background-repeat  : no-repeat;
    padding-bottom     : 85px;
    overflow           : hidden;
}

.About-Us-content {
    display        : flex;
    justify-content: flex-end;
    align-items    : center;
    position       : relative;
}

.About-Us img {
    width        : 100%;
    border-radius: 0px 100px 100px 0px;
}

.About-Us-left {
    width   : 60%;
    position: absolute;
    left    : -17%;
}

.About-Us-right {
    width: 50%;
}

.About-Us-right i {
    font-size     : 24px;
    color         : #f55f8d;
    margin-right  : 10px;
    vertical-align: middle;
}

.About-Us-title {
    font-size  : 22px;
    color      : #f55f8d;
    font-weight: 600;
    margin     : 0px 0px 15px;
}

.About-Us h2 {
    font-weight: 800;
    font-size  : 70px;
    line-height: 1.1;
    margin     : 0px 0px 20px;
}

.About-Us p {
    font-size: 16px;
    margin   : 0px 0px 15px;
}

.About-Us ul li {
    list-style: none;

}

.About-Us ul {
    padding: 0px;

}

/* number */
.number {
    background-image   : url(../images/bg14.png);
    background-position: center;
    background-repeat  : no-repeat;
    padding            : 80px 0 50px;
    text-align         : center;
}

.number-content {
    display        : flex;
    justify-content: space-around;
}

.number_item i {
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    font-size       : 45px;
    width           : 80px;
    height          : 80px;
    display         : inline-block;
    border-radius   : 50%;
    margin-bottom   : 15px;
    line-height     : 80px;
    background-size : 200%;
    color           : #fff;
}

.number-item {
    width: 25%;
}

.number_item_p {
    font-size  : 65px;
    font-weight: 800;
    color      : #f55f8d;
    line-height: 1;
    margin     : 0px;
}

.number_item-p {
    font-size  : 18px;
    line-height: 1;
}

/* features */
.features {
    background-image   : url(../images/bg2.png);
    background-size    : 100%;
    background-position: center;
    background-repeat  : no-repeat;
    padding-bottom     : 0;
    overflow           : hidden;
}

.features_content {
    display: flex;
}

.features-left {
    width: 50%;
}

.features-right {
    width: 50%;
}

.features_banner {
    margin-right: -80px;
}

.features_banner img {
    max-width: 100%;
    animation: move2 3s infinite ease-in-out;
}

.features_item {
    padding-left: 25px;
    z-index     : 1;
    transition  : all 1s;
}

.features_item:hover {
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    transform : translateY(-5px);
    box-shadow: 0 15px 45px rgba(245, 95, 141, 0.3);
}

.features_item:hover i,
.features_item:hover h3,
.features_item:hover p {
    color: #fff;
}


.features_item_bg {
    box-shadow      : 0 0px 60px 0px rgb(0 0 0 / 10%);
    padding         : 30px;
    background-color: #fff;
    border-radius   : 10px;
    display         : flex;
    align-items     : center;
    position        : relative;
    overflow        : hidden;
}

.features_item_p {
    font-size  : 22px;
    font-weight: 800;
    color      : #f55f8d;
    line-height: 1;
    margin     : 0px;
    margin     : 0px 0px 20px;

}

.features_item_h2 {
    font-size    : 70px;
    line-height  : 1.1;
    color        : #262626;
    margin-bottom: 20px;
    margin-top   : 0px;
}

.features-items {
    padding: 0px 50px 30px 0px;
}

.features-items2 {
    padding: 0 0 30px 50px;
}

.features_item {
    display         : flex;
    align-items     : center;
    background-color: #fff;
    border-radius   : 10px;
    padding         : 30px;
    box-shadow      : rgba(0, 0, 0, 0.1) 0px 0px 60px 0px;
    position        : relative;
    overflow        : hidden;
}

.features_item h3 {
    font-weight: 800;
    color      : rgb(38, 38, 38);
    font-size  : 1.5rem;
    transition : 1s;
    margin     : 0;
}

.features_item p {
    margin: 0;
}


.features_item i {
    font-size  : 80px;
    line-height: 1;
    color      : rgb(245, 95, 141);
    z-index    : 1;
    transition : 1s;
}

.features-items div {
    padding-left: 25px;
    z-index     : 1;
    transition  : all 1s;
}

.features-items2 div {
    padding-left: 25px;
    z-index     : 1;
    transition  : all 1s;
}

/* PORTFOLIO */
.portfolio {
    background-image   : url(../img/bg17.png);
    background-size    : cover;
    background-position: top center;
    text-align         : center;
    overflow           : hidden;
}

.portfolio__content {
    display              : grid;
    grid-template-columns: repeat(2, 1fr) 1.5fr;
    gap                  : 35px;
}

.portfolio__item {
    border-radius: 10px;
    position     : relative;
    overflow     : hidden;
}

.portfolio__item::before {
    content   : "";
    width     : 50%;
    height    : 100%;
    position  : absolute;
    top       : 0;
    left      : -100%;
    display   : block;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform : skewX(-25deg);
    transition: all 0.75s;
}

.portfolio__item:hover::before {
    left: 125%;
}

.portfolio__overlay {
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity         : 0;
    transition      : all 0.75s;
}

.portfolio__item:hover .portfolio__overlay {
    opacity: 1;
}

.portfolio__icon {
    position: absolute;
    top     : 20px;
    right   : 20px;

    font-size      : 28px;
    color          : #fff;
    width          : 50px;
    height         : 50px;
    line-height    : 50px;
    background     : linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-radius  : 10px;
    transform      : translate(20px, -20px);
    transition     : all 0.75s;
}

.portfolio__icon a {
    color: #fff;
}

.portfolio__item:hover .portfolio__icon {
    transform: translate(0);
}

.portfolio__icon a {
    cursor: pointer;
}

.portfolio__text {
    position  : absolute;
    bottom    : 30px;
    left      : 30px;
    text-align: left;
    transform : translateY(150px);
    transition: all 0.75s;
}

.portfolio__item:hover .portfolio__text {
    transform: translateY(0);
}

.portfolio__text h3 {
    font-size  : 22px;
    font-weight: 800;
    color      : white;
}

.portfolio__text p {
    color  : #fff;
    opacity: 0.7;
}

.portfolio__item img {
    width : 100%;
    height: 100%;
}

.portfolio__item1 {
    grid-column: 1 / span 2;
}

.portfolio__item5 {
    grid-column: 1 / span 2;
}

.portfolio__item6 {
    grid-column: 3 / 4;
    grid-row   : 2 / 4;
}


@keyframes move2 {

    0%,
    100% {
        transform: rotate(0deg) translate(0, 0);
    }

    50% {
        transform: rotate(-0.45deg) translate(-0.9px, -0.9px);
    }
}

@keyframes upToDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-5px);
    }
}